<h1>All Songs for <%= @artist.name%></h1>

<ul>
  <% alphabetize_songs(@songs).each do |song| %>
    <li>
      <%= link_to song.title, song_path(song) %>
      <%= link_to "Delete", artist_song_path(@artist, song), method: :delete %>
    </li>
  <% end %>
</ul>